<h1>Edicion de Usuario</h1>
<div class="container">
	<div class="row">
		<%= render 'form', user: @user %>
		<button class="btn btn-warning"><%= link_to 'Show', @user %></button>  
		<button class="btn btn-warning"><%= link_to 'Back', users_path %></button> 
	</div>
</div>




